/* -----------------------------------------头部------------------------------------------ */
#head {
  height: 36px;
  background: #f1f1f1;
  border-bottom: 1px solid #e9e9e9;
}

.favorite em,
.tell em {
  background: url(https://s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
}

.tell em {
  background-position: right -108px;
  width: 9px;
}

.favorite em {
  background-position: right -61px;
  width: 15px;
  margin-left: -2px;
  margin-right: 5px;
}

.favorite em {
  height: 20px;
  margin-top: 8px;
  margin-right: 5px;
  overflow: hidden;
}

.tell em {
  height: 20px;
  margin-top: 8px;
  margin-right: 0px;
  overflow: hidden;
}

.favorite em,
.tell em {
  display: inline;
  float: left;
  cursor: pointer;
}

.ult {
  float: left;
}

.ult li {
  float: left;
}

.ult li a:first-child {
  border-right: 1px solid #ccc;
  padding: 0 10px 0 0;
}

.head a,
.head span {
  font-size: 12px;
  text-align: center;
  line-height: 36px;
  color: #5e5e5e;
}

.ult div {
  margin: 0 0 0 10px;
}

.ult .province {
  margin: 0 0 0 5px;
}

.urt {
  float: right;
}

.urt li {
  float: left;
  /* padding: 0 10px; */
}

.urt li a {
  border-right: 1px solid #ccc;
  padding: 0 10px;
}

.urt li .red {
  color: #e54948
}

.urt li:nth-child(1) a {
  padding-left: 0;
}

.urt .last a {
  border: none;
  padding: 0;
}

.telnum {
  overflow: hidden;
  float: left;
  font-size: 12px;
  color: #c7a774;
  font-weight: 700;
  font-family: Tahoma;
  padding: 0;
  line-height: 36px;
  margin: 0 10px 0 10px;
}

/* -----------------------------------------头部------------------------------------------ */
/* -----------------------------------------搜索------------------------------------------ */
#nav {
  height: 121px;
  /* background: cyan; */
}

.logo {
  width: 180px;
  float: left;
  height: 113px;
  overflow: hidden;
  margin-right: 105px;
  zoom: 1;
  position: relative;
}

.logo a {
  display: block;
  text-decoration: none;
  text-indent: -9999px;
  width: 180px;
  height: 61px;
  margin-top: 26px;
  background: url(https://s.maiyaole.com/images/common/logo_01.png) no-repeat;
}

.search {
  width: 532px;
  float: left;
  margin-bottom: 15px;
}

.search input {
  width: 435px;
  outline: 0;
  float: left;
  height: 44px;
  line-height: 44px;
  padding: 0 5px 0 9px;
  border: 1px solid #c7a774;
  color: #666;
  font-size: 15px;
  vertical-align: middle;
  background-color: #fff;

}

.search .sbtn {
  float: left;
  width: 82px;
  height: 46px;
  /* line-height: 55px; */
  border: 1px solid #c7a774;
  cursor: pointer;
  background-color: #fff;
  margin-left: -1px;
}

.search .form {
  float: left;
  margin: 34px 0 0 0;
  background-color: #fff;
  position: relative;
  z-index: 9999;
}

.hotwords {
  float: left;
  height: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 6px;
  width: 532px;
  overflow: hidden;
  zoom: 1;
}

.hotwords a {
  color: #5e5e5e;
  padding: 0 6px 0 0;
  margin-right: 6px;
  height: 16px;
  line-height: 16px;
  font-family: Arial;
  font-size: 12px;
}

.hotwords .red {
  color: #e54948;
}

.erDCode {
  position: absolute;
  right: 230px;
  top: 45px;
  width: 123px;
  height: 115px;
}

.mod_minicart {
  width: 140px;
  font-size: 12px;
  position: relative;
  top: 34px;
  right: -1050px;
  margin-bottom: -41px;
  z-index: 99;
  border: 1px solid #eee;
}
.mod_minicart .iconfont{
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  color: #5e5e5e;
}
.mod_minicart .icongouwuche{
  top: 0px;
  left: 20px;
}
.mod_minicart .iconjiantou1{
  top: 0px;
  left: 104px;
  font-size: 12px;
}

.mini_cart_btn {
  background-position: 10px -312px;
  display: block;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  color: #5e5e5e;
  /* background: url(//s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0; */
}

.cart_num {
  display: block;
  position: absolute;
  float: left;
  top: 3px;
  line-height: 10px;
  width: auto;
  min-width: 12px;
  text-align: center;
  vertical-align: middle;
  left: 30px;
  font-weight: 700;
  font-family: tahoma;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  height: 12px;
  padding: 2px;
  background: red;
  border-radius: 16px;
}

.mini_cart_btn .icart {
  position: absolute;
  width: 50px;
  left: 55px;
  top: 0px;
  background-position: -110px -312px;
  padding-right: 15px;
}

/* -----------------------------------------搜索------------------------------------------ */

/* -----------------------------------------导航------------------------------------------ */
.head_wrap {
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #d2b994;
}
.head_wrap .headerNavMain {
  z-index: 100;
}
.head_wrap .headerNavMain {
  width: 1190px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  z-index: 10;
}
.allSort {
  float: left;
  width: 180px;
}
.allSort .more {
  background-image: none;
}

.allSort .more {
  position: absolute;
  z-index: 100;
  display: block;
  font: 400 15px/48px tahoma,arial,Microsoft YaHei;
  color: #fff;
  width: 166px;
  padding: 0 0 0 14px;
  height: 48px;
  background-color: #19323a;
  background-position: right -438px;
  font-weight: 700;
}
.sortbox {
    position: absolute;
    z-index: 99;
    width: 180px;
    height: auto;
    margin-top: 48px;
    border-bottom: #e6e6e6 1px solid;
}
#sortul{
  width: 180px;
  height: 400px;
  background: #314349;
}
.stitle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all .1s ease-out 0s;
}
.stitle>a {
  display: block;
  width: 180px;
  height: 40px;
  color: #fff;
  background-color: #314349;
  text-decoration: none;
}
.stitle i {
  float: left;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  margin-top: 10px;
  margin-left: 15px;
  display: block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 103;
}
.stitle h4 {
  margin-left: 47px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Microsoft YaHei",tahoma,arial,\5b8b\4f53;
}

.sitenav {
  float: left;
  height: 46px;
  font-size: 0;
  background: #fff;
  font-family: tahoma,arial,\5b8b\4f53;
  vertical-align: middle;
  padding-left: 180px;
}
.sitenav .s_m {
  word-spacing: -1px;
  float: left;
  margin-left: -2px;
}
.headerNavMain .sitenav .home a {
  color: #505050;
}
.headerNavMain .sitenav .home a {
  cursor: pointer;
  padding: 0 15px;
}
.sitenav .cur, .sitenav .nav_link:hover, .sitenav li:hover .nav_link {
  color: #0083ce;
  text-decoration: none;
  height: 48px;
}

.sitenav .nav_link {
  font-weight: 400;
  font-family: "Microsoft YaHei";
  color: #505050;
  padding: 0 16px;
  font-size: 16px;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 46px;
  position: relative;
  display: block;
  cursor: pointer;
}
/* -----------------------------------------导航------------------------------------------ */
/* -----------------------------------------banner------------------------------------------ */
.main_body {
  position: relative;
  width: 1190px;
}
.wrap {
  margin: 0 auto;
  width: 1190px;
}
.main-l {
  width: 750px;
  float: left;
  display: inline;
  margin-left: 180px;
}
.tsSlide {
  position: relative;
  overflow: hidden;
}
.y_slide_img {
  position: absolute;
}
.tsSlide, .y_slide_img {
  width: 750px;
  height: 400px;
}
.tsSlideSwitch {
  position: absolute;
  bottom: 5px;
  z-index: 10;
  width: 100%;
  text-align: center;
}
.y_slide_a, .y_slide_on {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  background-color: #3e535a;
  opacity: .5;
  line-height: 15px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}
/* -----------------------------------------banner------------------------------------------ */

/* -------------------------------------------广告------------------------------------------------ */
.specialAds {
  width: 100%;
  height: auto;
  margin: 10px auto;
  overflow: hidden;
}
.specialAds .limited_time {
  width: 180px;
  height: 150px;
  float: left;
  margin-right: 0;
}
.specialAds a {
  margin-right: 3px;
}
.limited_time .clock-wrap {
  position: relative;
  width: 180px;
  height: 150px;
  background: url(//s.maiyaole.com/images/201306/img/clock01.png) no-repeat;
}
.limited_time .clock {
  position: absolute;
  left: 63px;
  top: 32px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid transparent;
}
.limited_time .clock .clock-h {
  position: absolute;
  top: 5px;
  left: 19px;
  height: 18px;
  width: 5px;
  background: url(//s.maiyaole.com/images/201306/img/clock_h.png) no-repeat;
  transform: rotate(10deg);
  -webkit-transform-origin: 2.5px 16.5px;
  -moz-transform-origin: 2.5px 16.5px;
  transform-origin: 2.5px 16.5px;
}
.limited_time .clock .clock-m {
  position: absolute;
  left: 5px;
  top: 19px;
  width: 19px;
  height: 5px;
}
.limited_time .clock .clock-s {
  position: absolute;
  left: 17px;
  top: -6px;
  width: 5px;
  height: 26px;
  -webkit-transform-origin: bottom;
  -webkit-animation: tick-tock 10s linear infinite;
  -moz-transform-origin: bottom;
  -moz-animation: tick-tock 10s linear infinite;
  transform-origin: bottom;
  animation: tick-tock 10s linear infinite;
}
.specialAds a {
  margin-right: 3px;
}
.specialAds img{
  width: 245px;
  height: 150px;
}
/* -------------------------------------------广告------------------------------------------------ */

/* -------------------------------------------楼层---------------------------------------------- */
.index_floor {
  margin-top: 30px;
  border: 1px solid #F3F3F3;
  font-family: "Microsoft Yahei";
  color: #5e5e5e;
  width: 1189px;
  height: 485px;
  border-top: none;
  border-bottom: none;
}
.index_floor.floor_1 {
  border-top: 2px solid #92c4ff;
}
.index_floor .in_floor_l {
  float: left;
  width: 180px;
}
.in_floor_l .floor_name_1.cur {
  color: #fff;
  background: #92c4ff;
}
.in_floor_l .floor_name_1 {
  color: #92c4ff;
}

.in_floor_l .floor_name {
  padding-left: 20px;
  height: 85px;
  line-height: 85px;
  background: #F8F8F8;
  font-size: 20px;
}
.in_floor_l li {
  float: left;
  width: 89px;
  height: 49px;
  border: 1px solid #F3F3F3;
  border-left: none;
  border-top: none;
  text-align: center;
  line-height: 49px;
  font-size: 14px;
}
.in_floor_l li a {
  color: #5e5e5e;
}
.in_floor_l li a:hover {
  text-decoration: underline;
}

.in_floor_l li a:hover {
  color: #ff5247;
}
.index_floor .in_floor_r {
  float: right;
  width: 1009px;
}
.in_floor_r .sale {
  height: 284px;
}
.in_floor_r .sale .sale_slider {
  width: 605px;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  border-right: 1px solid #f3f3f3;
}
.in_floor_r .sale .sale_slider img {
  width: 605px;
  height: 100%;
  position: absolute;
}

.in_floor_r .sale .sale_ads {
  height: 100%;
  float: left;
}
.in_floor_r .sale .sale_ads img {
  width: 201px;
  height: 100%;
  float: left;
  border-right: 1px solid #F3F3F3;
}
.in_floor_r .sale .sale_ads img.last {
  border-right: 0;
}
.in_floor_r .sp_show {
  height: 201px;
}
.in_floor_r .sp_show li {
  float: left;
  width: 161px;
  padding: 20px 20px 10px 20px;
  border-right: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  height: 170px;
}
.in_floor_r .sp_show li.last {
  border-right: 0;
}
.in_floor_r .sp_show li a {
  display: block;
}
.in_floor_r .sp_show li img {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}
.in_floor_r .sp_show li a.tit {
  font-size: 14px;
  color: #333;
  height: 20px;
  overflow: hidden;
  text-align: center;
  margin: 15px 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.in_floor_r .sp_show li a.tit:hover {
  color: #ff5247;
}
.in_floor_r .sp_show li p {
  color: #E72418;
  font-size: 16px;
  text-align: center;
}
.in_floor_r .sp_show li p i {
  font-size: 12px;
  padding-right: 5px;
}

/* -------------------------------------------楼层---------------------------------------------- */

/* -----------------------------------------底部------------------------------------------ */
#footer a {
  font-size: 12px;
}

.new_app_part_ul li .intro {
  font-size: 12px;
  color: #5e5e5e;
}

.new_ft_commit {
  padding-top: 62px;
  clear: both;
}

.new_ft_commit_con {
  width: 1190px;
  height: 100px;
  margin: 0 auto;
  background: url(//s.maiyaole.com/images/201306/images/jsyhm.png) no-repeat 0 0;
}

.new_app_part {
  margin-top: 60px;
}

.new_app_part_con {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}

.service_port {
  width: 250px;
  float: right;
  border-left: 1px solid #eee;
  text-align: center;
  padding: 15px 0;
  margin-right: 50px;
}

.service_port .tel {
  font-size: 20px;
  color: #c7a774;
  font-weight: 700;
}

.service_port .service_time {
  color: #999;
  line-height: 18px;
  padding-top: 8px;
  font-size: 12px;
}

.new_app_part_ul {
  float: left;
  padding-left: 110px;
}

.new_app_part_ul li {
  width: 255px;
  float: left;
}

.new_app_part_ul .code_img {
  width: 94px;
  height: 94px;
  float: left;
  margin-right: 12px;
}

.new_app_part_ul .app_part_right {
  padding-top: 27px;
}

.new_app_part_ul .app_part_right .h2_tt {
  font-size: 15px;
  color: #1c1c1c;
  font-weight: bold;
  margin-bottom: 3px;
}

.new_page_footer {
  background: #f0f0f0;
  margin-top: 65px;
  padding-top: 45px;
}

.new_page_footer_con {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}

.footer_bottom_unit {
  position: relative;
  padding-left: 215px;
  padding-top: 15px;
}

.footer_bottom_unit .footer_logo_img {
  position: absolute;
  left: 0;
  top: 30px;
}

.footer_bottom_unit dl a {
  color: #666;
}

.footer_bottom_unit .help_part {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
  overflow: hidden;
}

.footer_bottom_unit dl {
  width: 155px;
  float: left;
}

.footer_bottom_unit dl dt {
  font-weight: bold;
  color: #1c1c1c;
  font-size: 15px;
  padding-bottom: 10px;
}

.copy_right {
  color: #5e5e5e;
  text-align: center;
  padding: 5px 0 30px;
}

.yyw_member {
  overflow: hidden;
  padding-top: 25px;
}

.yyw_member .member_mark {
  color: #666;
  float: left;
  line-height: 56px;
  display: inline-block;
}

.yyw_member .member_ul {
  float: left;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-align: left;
  margin-left: 15px;
}

.yyw_member .member_ul li {
  width: 270px;
  float: left;
  line-height: 56px;
}

.yyw_member .member_ul img {
  width: 56px;
  height: 56px;
  margin-right: 10px;
}

.footer_bottom_unit .bottom_link {
  text-align: left;
  line-height: 30px;
  padding-top: 30px;
  margin-left: -20px;
}

.footer_bottom_unit .bottom_link a {
  margin: 0 20px;
  color: #666;
}

.footer_bottom_unit .copy_info {
  text-align: left;
  color: #999;
  line-height: 20px;
  padding-top: 15px;
  font-size: 12px;
}

.footer_bottom_unit .copy_info .copy_ico {
  background-size: 17px 20px;
  float: left;
}

.copy_right .copy_ico {
  margin-left: 5px;
}

.footer_bottom_unit .sf_verify {
  overflow: hidden;
  margin-left: -10px;
}

.sf_verify {
  padding: 10px 0 0 10px;
  clear: both;
  overflow: hidden;
  zoom: 1;
}

.footer_bottom_unit .sf_verify .v1 {
  width: 90px;
  height: 35px;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  opacity: 0.5;
}

.footer_bottom_unit .sf_verify .v1 {
  width: 90px;
  height: 35px;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  opacity: 0.5;
}

.sf_verify a,
.sf_verify span {
  margin-right: 7px;
  display: block;
  float: left;
}

.vl_1 {
  background-position: 0 0;
}

.vl_2 {
  background-position: -98px 0;
}

.vl_3 {
  background-position: -196px 0;
}

.vl_4 {
  background-position: -294px 0;
}

.vl_5 {
  background-position: -392px 0;
}

.vl_6 {
  background-position: -490px 0;
}

.vl_7 {
  background-position: -588px 0;
}

.vl_8 {
  background-position: -686px 0;
}

.vl_9 {
  background-position: -780px 0;
}

.vl_1,
.vl_2,
.vl_3,
.vl_4,
.vl_5,
.vl_6,
.vl_7,
.vl_8,
.vl_9 {
  background-image: url(//s.maiyaole.com/images/201306/img/outherLogo_min.png);
  background-repeat: no-repeat;
  overflow: hidden;
  float: left;
  zoom: 1;
  width: 88px;
  height: 35px;
  text-indent: -9999px;
  ertical-align: top;
}

/* -----------------------------------------底部------------------------------------------ */